*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}
body{
	font-size: 10px;
	font-family: Lato;
}
a{
	text-decoration: none;
	color: #fff;
}
.heading{
	font-size: 3.5rem;
	letter-spacing: 3px;
	margin-right: -1px;
	margin-bottom: 5rem;
	text-align: center;
	color: #111;
	position: relative;
}
.card-wrap{
	display: flex;
	align-items: center;
	align- content: center;
	flex-direction: column;
}
.card{
	width: 30rem;
	background-color: #E9ECFB;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	box-shadow: 3px 3px 5px #111;
}
.profile-img{
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}
.card h1{
	font-size: 2.5rem;
	color: #111;
	margin: 1.5rem 0;
}
.title{
	color: #111;
	font-size: 1.5rem;
	font-weight: 300;
}
.social-media{
	width: 100%;
	list-style: none;
	display: inline-flex;
	justify-content: center;
	padding: 2rem 0;
	margin-top: 1.5rem;
	border-top: 1px solid blue;
}
.social-media i{
	font-size: 3rem;
	padding: 2rem;
}
.fa-facebook-square{
	color: #3b5999;
}
.fa-twitter-square{
	color: #55acee;
}
/* MOBILE FIRST */

* {
                    font-family: Lato;
                    font-style: normal;
}

footer {
                    background: rgba(33, 60, 220, 0.1);
                    margin: auto;
                    overflow: hidden;
                    padding: 15px;
}
.footer_elements,
.footer_brand {
                    display:  flex;
                    flex-direction: column;
                    padding-inline-start:  0px;
                    align-items: center;
                    margin: 0 0 0 0;

}
.footer_elements {
                    width: auto;
}
.footer_elements li {

                    font-weight:  bold;
                    font-size: 18px;
                    display: inline-block;
                    padding:  5px;      
                    width: fit-content;
}
.footer_elements li  a {
                    text-decoration: none;
                    color: black;
}
.footer_brand  img {
                    height:  80px;
                    width: 100px;
                    vertical-align: middle;

}
@media screen  and (min-width: 600px){
                    .footer_brand {
                                        float: left;
                    }
                    .footer_brand {
                                        left: 223px;
                                        margin: 0 0 0 5vw ;
                    }

                    
                    .footer_elements li { 
                                        margin: 0 0 0 20px ;
                    }
                    .footer_elements{
                                        margin:  15px 0 0 0;
                                        /* line-height: 60px; */
                                        vertical-align: middle;
                                        flex-direction:  row;
                                        padding-inline-start:  0px;
                                        justify-content: flex-end;
                    }

}

@media screen and (min-width:700px){
	.card-wrap{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.card{
		margin: 2rem;
	}
}
